<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringPracticeLifecycleApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-practice.lifecycle.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.exsoinn.spring.practice.lifecycle.SpringPracticeLifecycleApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>